<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/div.css">
      
        <title>TETI</title>
    </head>

    <body class="teste">

        <div class="div-main"></div>
        <div class="div-main" style="margin-bottom: 50px;">
        {% for x in range(512) %}
            <div class="row" id="row{{ x }}">
            {% for y in range(512) %}
                <div class="divs1pixel" id="div1pixel{{ y }}"></div>
            {% endfor %}
            </div>
        {% endfor %}
        </div>

    </body>

</html>