<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/css/teti_deivison.css">
</head>

<body>

    <main class="container">

        <header>

            <div class="logo">
                <img src="../static/images/Khaby-Lame-PNG-Image.png">
            </div>

            <div class="teti-info">
                <h3>Instituto Federal de Educação, Ciência e Tecnologia de Mato Grosso do Sul</h3>
                <h3>Tecnologia em Análise e Desenvolvimento de Sistemas - TADS 6</h3>
                <h3>Tópicos Especiais em Tecnologia da Informação - TETI</h3>
                <h3> Prof. Alex F. de Araujo</h3>
            </div>

        </header>

        <div class="form">

            <div class="semana-one">
                <h2>

                    <h4 >SEMANA 1</h4>
                    <p>Conteúdo: Discussão sobre o plano de ensino e atividades avaliativas</p>
                </h2>
                <div>
                    <div>
                        - Apresentação do Plano de Ensino</a><br>
                        - Discussão sobre aderencia à Ementa Proposta <br>
                        - Apresentação das Atividades Avaliativas <br>
                        - Detalhamento do Cronograma de Atividades
                    </div>
                </div>
            </div>

            <div class="semana-two">
                <h2>
                    <h4 face="Courier">SEMANA 2</h4>
                    <p>Conteúdo: Introdução ao Python e Framework Flask</p>
                </h2>
                <div>
                    <div>
                        - Apresentação a linguagem de Programação Python <br>
                        - Instalação do Python no Linux                  <br>
                        - Criação do Ambiente de Virtualização (Venv)          <br>
                        - Instalação  e Configuração do  Flask           <br>
                        - Introdução prática ao Flask                    <br>
                    </div>
                </div>
            </div>

            <div class="semana-three">
                <h2>
                    <h4 face="Courier">SEMANA 3</h4>
                    <p>Conteúdo: Manipulação e envio de dados entre Python e HTML</p>
                </h2>

                <div>
                    <div>
                        - Passagem de dados do Python para o <a href="/index" target="_blank">
                            Lista de Alunos</a> <br>
                        - Requisições HTTP GET e POST
                        <a href="/cadastro" target="_blank"> Cadastro de Alunos</a> <br>
                        - Manipulação de dados utilizando uma lista <a href="/list"
                            target="_blank">Cadastro 2.0 </a> <br>
                    </div>

                </div>

            </div>

            <div class="semana-four">

                <h2>
                    <h4 face="Courier">SEMANA 4</h4>
                    <p>Conteúdo: Criação das  Calculadora</p>
                </h2>

                <div>

                    <div>
                        <a href="/calculator" target="_blank">Calculadora Simples</a> e
                        <a href="/alfa-calc" target="_blank">Calculadora Alfanúmerica</a>
                    </div>

                </div>

            </div>


            <div class="semana-five">

                 <h2>
                    <h4 face="Courier">SEMANA 5</h4>
                 -   Criação de uma Div Personalizada <a href="div" target="_blank"> Div </a> <br>

                 -   Criação de uma Div de 1px com cores aleatórias <a href="div_colored" target="_blank">  Div Color</a>
                 </h2>
  
            </div>
                 
            <div class="semana-six">

                <h2>
                    <h4> SEMANA 6</h4>

                    - Criação de uma Galeria de Imagens <a href="galeria" target="_blank"> Galeria </a> <br>
                </h2>

            </div>
              

            <div class="semana-seven">
                    <h2>
                        <h4> SEMANA 7</h4>

                        - Atividade Fazer upload de uma imagem de 512 x 512 pixels e transpor ela no template 
                        <a href="transferencia" target="_blank"> Transferência </a> <br>
                    </h2>
            </div>


            <div class="semana-eight">
                <h2>
                    <h4> SEMANA 8</h4>

                    - Eixo X e Eixo Y 
                    <a href="funcao-imagem" target="_blank"> Math </a> <br>
                </h2>
            </div>

        </div>

    </main>

   <div class="dev">
     
   </div>

</body>

</html>